<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
      Payplan
  {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage:index' %}">Paytracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="{% url 'homepage:index' %}">Home</a>
              <li class="nav-item dropdown">
                <a href="{% url 'payplan:index' %}" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Payplan
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'payplan:add' %}">Add a payplan or scaling</a></li>
                  <li><a class="dropdown-item" href="{% url 'payplan:volume-bonus' %}">Add a volume bonus</a></li>
                  <li><a class="dropdown-item" href="{% url 'payplan:flat' %}">Add a flat commission amount</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'payplan:add-level' %}">Edit payplan</a></li>
                </ul>
              </li>
              <a class="nav-link" aria-current="page" href="{% url 'saletracker:index' %}">Saletracker</a>
              {% if user.is_authenticated %}
              <a class="nav-link" aria-current="page" href="{% url 'users:index' %}">Account info</a>
              <a class="nav-link" aria-current="page" href="{% url 'users:logout' %}">Logout</a>
              {% endif %}
              {% if not user.is_authenticated %}
              <a class="nav-link" aria-current="page" href="{% url 'users:register' %}">Sign Up</a>
              <a class="nav-link" aria-current="page" href="{% url 'users:index' %}">Login</a>
              {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <br><br>
    <div class="container">
        {% block body %}
        {% endblock %}
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>